header
{
    background-image: url("../../img/headerBackground.jpg");
    background-size: cover;
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.textHeader
{
    display: flex;
    align-items: center;
    width:100%;
    font-family: 'IM Fell French Canon SC', serif;
   
}

.kelMenu
{
    color:#373a3c;
    font-size: 4rem;
}

.sign
{
    border-style: solid;
    border-color: #373a3c;
    background-color: antiquewhite;
}

.impactSentence
{
    color:#373a3c;
    font-size: 1.5rem;
}