<div class="bg-dark py-2">
	<div class="row text-center pb-1">
		<i class="fab fa-twitter fa-2x offset-3 col-2"></i>
		<i class="fab fa-facebook fa-2x col-2"></i>
		<i class="fab fa-instagram fa-2x col-2"></i>
	</div>
	<div class="row text-center">
		<a href="">C.G.U.</a>
	</div>
</div>
