<header>
	<div class="row textHeader">
		<div class="offset-4 col-4 text-center sign">
			<h1 class="kelMenu">KelMenu.com</h1>
			<h2 class="impactSentence">Le plaisir véritable est plaisir de convive.</h2>
		</div>
	</div>
</header>
