{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}
	<h1 class="text-center">Bloc notes</h1>

	<div class="row mt-4 text-center d-flex justify-content-center">
		<div class="col-2 mx-4" style="border-style: solid;">
			<p>
				<a href="">Mes évenements</a>
			</p>
		</div>
		<div class="col-2 mx-4" style="border-style: solid;">
			<p>
				<a href="">Mes recettes</a>
			</p>
		</div>
		<div class="col-2 mx-4" style="border-style: solid;">
			<p>
				<a href="">Mon agenda</a>
			</p>
		</div>
	</div>

{% endblock %}
